<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
    {% include 'snippets/header.html' %}
</head>

<body>
    <!-- Body -->
    <style>
        .main {
            min-height: 100vh;
            height: 100%;
        }
    </style>
    <main>
        <h2> This will showcase django projects </h2>
        <div class="main">
            {% block content %}
            {% endblock %}
        </div>
    </main>
    <!-- End Body -->
    {% include 'snippets/footer.html' %}
</body>


</html>